<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Learn AngularJS - Navigation Menu</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link href="css/navigation-menu-style.css" rel="stylesheet" />
	</head>

	<body ng-app>

		<nav class="{{active}}" ng-click="$event.preventDefault()">
			<a href="#" class="projectList" ng-click="active='projectList'">Projects</a>
			<a href="#" class="projectForm" ng-click="active='projectForm'">Project Form</a>
			<a href="#" class="projectReleases" ng-click="active='projectReleases'">Project releases</a>
			<a href="#" class="about" ng-click="active='about'">About</a>
		</nav>

		<p ng-hide="active">Please click a menu item</p>
		<p ng-show="active">You chose <b>{{active}}</b></p>



		<!-- Include AngularJS from Google's CDN -->
		<script src="lib/angular.min.js"></script>
	</body>
</html>