<!DOCTYPE html>
<html ng-app="ScrumApp" >
<head>
	<meta charset="ISO-8859-1">
	<title>Start AngularJS App</title>
	<link rel="stylesheet" href="css/app.css"/>
</head>

<body ng-controller="projectsController">
	<h1>{{viewTitle}}  App</h1><br>
	<input type="text" ng-model="viewTitle" />
	<table  style="margin-left:auto;margin-right:auto;>
	    <thead>
	      <tr><th colspan="4">Projects List</th></tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="project in projectsList">
	        <td>{{$index + 1}}</td>
	        <td>{{project.projectNo}}</td>
	        <td>{{project.name}}</td>
	        <td>{{project.startDate}}</td>
	      </tr>
	    </tbody>
	  </table>
	<script src="lib/angular.js"></script>
	<script src="js/demo.js"></script>
</body>
</html>