<!DOCTYPE html>
<html data-ng-app>
<head>
<meta charset="ISO-8859-1">
<title>1. Start AngularJS App</title>
</head>
<body>
	<h1>1. Start AngularJS App</h1>
	<h3>1. Scoped Model </h3>
	Name: <br/> 
	<input type="text" data-ng-model="name"/> {{name}}
	
	<br/>
	<div data-ng-init="names=['A', 'B', 'C', 'D']">
		<h3>2. List </h3>
		<ul>
			<li data-ng-repeat="name in names">{{name}}</li>
		</ul>
	</div>
	
	<br/>
	<div data-ng-init="customers = [{name: 'N1', city: 'c1'}, {name: 'N2', city: 'c2'}, {name: 'N3', city: 'c3'}, {name: 'N4', city: 'c4'}]">
		<h3>3. Filter </h3>
		<input type="text" data-ng-model="name"/>
		
		<ul>
			<li data-ng-repeat="cust in customers | filter:name ">{{cust.name}}-{{cust.city}}</li>
		</ul>	
	</div>

	<div data-ng-controller="SimpleController">
		<h3>4. Controller </h3>
		<input type="text" data-ng-model="name"/>
		
		<ul>
			<li data-ng-repeat="cust in custms | filter:name">{{cust.name}}-{{cust.city}}</li>
		</ul>	
	</div>
	
	<script src="Scripts/angular.min.js"></script>
	<script src="Scripts/start1.js"></script>
</body>
</html>