<div data-ng-controller="view2Controller">
	<h3>VIEW2: {{view2_name}}</h3>
	
	
		<div id="container">
    		<div id="header">
    			<p>Project Selection to EDIT: {{projectsSelected[0].name}}</p>
    		</div>
    		
    		<div id="menu" style="float:left;">
    			<div id="listDiv" class="gridProjectsStyle" ng-grid="gridOptions"></div>
    		</div>
    		
    		<div id="content" style="float:left;">
   
    				<table style="width:500px;" cellpadding="0" cellspacing="0">
    				
    					<tr>
    						<td><label for="projectNo">Project Number:</label></td>
					    	<td><input id="projectNo" type="number" ng-model="projectsSelected[0].projectNo" /></td>
    					</tr>
    						
    					<tr>
							<td><label for="name">Name:</label></td>
					    	<td><input id="name" type="text" ng-model="projectsSelected[0].name" /></td> 					
    					</tr>
    						
    					<tr> 
							<td><label for="startDate">Start Date:</label></td>
					    	<td><input id="startDate" type="date" ng-model="projectsSelected[0].startDate"/></td>   					
    					</tr>
    					
						<tr> 
							<td><button data-ng-click="save()">Save</button></td>
					    	<td><button data-ng-click="cancel()">Cancel</button></td> 					
					    	<td><button data-ng-click="go('/view3');">Edit releases</button></td>
    					</tr>    					
    					
					 </table>  			
    			
    		</div>
    		
			<div id="footer">
    				<a href="{{projectsSelected[0].link.href}}">{{projectsSelected[0].link.href}}</a>
    		</div>    		
    	</div>	
	
</div>